@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globais Customizados para a Landing Page Luana Dias */

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body { 
    font-family: 'Manrope', sans-serif; 
    background-color: #C4B299;
    min-height: max(884px, 100dvh);
}

h1, h2, h3 { font-family: 'Noto Serif', serif; }

.editorial-shadow { 
    box-shadow: 0px 20px 40px rgba(45, 9, 9, 0.12); 
}

.matte-surface {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.floating-effect {
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.floating-effect:hover {
    transform: translateY(-8px);
}
